/*used a hero section to grab users attention*/
.hero-section {
    position: relative;
    background: url("/public/images/banner.svg") no-repeat center center; /*gets the svg img as the background*/
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  
  .hero-overlay {
    position: relative;
    color: black;
    padding: 20px;
  }
  
  .hero-overlay h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
  }
  
  .hero-overlay p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
  }
  
